/* line 2, sass/_arrow.scss */
.arrow--l,
.arrow--r,
.arrow--lr {
	display: inline-block;
	position: relative;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	margin: 0;
	padding: 0;
	border-bottom: 2px solid #000;
	line-height: 1em;
}

/* line 14, sass/_arrow.scss */
.arrow--t,
.arrow--b,
.arrow--tb {
	display: inline-block;
	position: relative;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	margin: 0;
	padding: 0;
	border-left: 2px solid #000;
	line-height: 1em;
}

/* line 26, sass/_arrow.scss */
.arrow--l {
	padding-left: 2em;
	padding-right: 0.5em;
}

/* line 31, sass/_arrow.scss */
.arrow--r {
	padding-left: 0.5em;
	padding-right: 2em;
}

/* line 36, sass/_arrow.scss */
.arrow--lr {
	padding-left: 2em;
	padding-right: 2em;
}

/* line 41, sass/_arrow.scss */
.arrow--l::before,
.arrow--lr::before {
	position: absolute;
	left: -2px;
	bottom: -2px;
	border-left: 1.5em solid transparent;
	border-bottom: 0.7em solid #000;
	content: "";
}

/* line 50, sass/_arrow.scss */
.arrow--r::after,
.arrow--lr::after {
	position: absolute;
	right: -2px;
	bottom: -2px;
	border-right: 1.5em solid transparent;
	border-bottom: 0.7em solid #000;
	content: "";
}

/* line 60, sass/_arrow.scss */
.arrow--b {
	padding-bottom: 2em;
	padding-top: 0.5em;
}

/* line 65, sass/_arrow.scss */
.arrow--t {
	padding-bottom: 0.5em;
	padding-top: 2em;
}

/* line 70, sass/_arrow.scss */
.arrow--tb {
	padding-bottom: 2em;
	padding-top: 2em;
}

/* line 75, sass/_arrow.scss */
.arrow--b::before,
.arrow--tb::before {
	position: absolute;
	bottom: -2px;
	left: -2px;
	border-bottom: 1.5em solid transparent;
	border-left: 0.7em solid #000;
	content: "";
}

/* line 84, sass/_arrow.scss */
.arrow--t::after,
.arrow--tb::after {
	position: absolute;
	top: -2px;
	left: -2px;
	border-top: 1.5em solid transparent;
	border-left: 0.7em solid #000;
	content: "";
}

/* line 94, sass/_arrow.scss */
.arrow--dt,
.arrow--dr,
.arrow--db,
.arrow--dl {
	display: block;
	width: 100%;
	height: 100%;
	position: relative;
}

/* line 103, sass/_arrow.scss */
.arrow--dt::before, .arrow--dt::after,
.arrow--dr::before,
.arrow--dr::after,
.arrow--db::before,
.arrow--db::after,
.arrow--dl::before,
.arrow--dl::after {
	content: "";
	display: block;
	position: absolute;
	top: 2px;
	right: 2px;
	bottom: 2px;
	left: 2px;
	width: 0;
	height: 0;
	margin: auto;
}

/* line 118, sass/_arrow.scss */
.arrow--dt::before {
	bottom: auto;
	border-style: solid;
	border-width: 0 4px 10px 4px;
	border-color: transparent transparent cyan transparent;
}

/* line 124, sass/_arrow.scss */
.arrow--dt::after {
	top: auto;
	width: 2px;
	height: 20px;
	background: cyan;
}

/* line 132, sass/_arrow.scss */
.arrow--dr::before {
	left: auto;
	border-style: solid;
	border-width: 4px 0 4px 10px;
	border-color: transparent transparent transparent cyan;
}

/* line 138, sass/_arrow.scss */
.arrow--dr::after {
	right: auto;
	width: 20px;
	height: 2px;
	background: cyan;
}

/* line 146, sass/_arrow.scss */
.arrow--db::after {
	bottom: auto;
	width: 2px;
	height: 20px;
	background: cyan;
}

/* line 152, sass/_arrow.scss */
.arrow--db::before {
	top: auto;
	border-style: solid;
	border-width: 10px 4px 0 4px;
	border-color: cyan transparent transparent transparent;
}

/* line 160, sass/_arrow.scss */
.arrow--dl::before {
	left: auto;
	width: 20px;
	height: 2px;
	background: cyan;
}

/* line 166, sass/_arrow.scss */
.arrow--dl::after {
	right: auto;
	border-style: solid;
	border-width: 4px 10px 4px 0;
	border-color: transparent cyan transparent transparent;
}

/* line 5, sass/master.scss */
html, body {
	background-color: #ddd;
	width: 100%;
	height: 100%;
}

/* line 11, sass/master.scss */
.main {
	display: grid;
	grid-template-rows: 2em 1fr;
	grid-template-columns: 1fr 2em;
	grid-template-areas: "column  ..." "content row";
	margin: 10px;
}

/* line 20, sass/master.scss */
.main__column-heading {
	grid-area: column;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin: 0 10px;
}

/* line 27, sass/master.scss */
.main__row-heading {
	grid-area: row;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin: 10px 0;
}

/* line 34, sass/master.scss */
.main__column-heading-text {
	width: 100%;
	height: 100%;
	text-align: center;
	padding-bottom: 5px;
}

/* line 40, sass/master.scss */
.main__row-heading-text {
	width: 100%;
	height: 100%;
	text-align: center;
	padding-left: 5px;
	-webkit-writing-mode: vertical-lr;
	    -ms-writing-mode: tb-lr;
	        writing-mode: vertical-lr;
}

/* line 47, sass/master.scss */
.main__content {
	grid-area: content;
}

/* line 53, sass/master.scss */
.grid {
	display: grid;
	grid-template-areas: "header header header" "nav content content" "footer footer footer";
	grid-template-columns: repeat(3, minmax(160px, 200px));
	-ms-flex-line-pack: center;
	    align-content: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	background-color: #fff;
	margin: 10px;
	border: 2px solid #999;
}

/* line 66, sass/master.scss */
.grid__item--header {
	grid-area: header;
}

/* line 69, sass/master.scss */
.grid__item--nav {
	grid-area: nav;
}

/* line 72, sass/master.scss */
.grid__item--content {
	grid-area: content;
}

/* line 74, sass/master.scss */
.grid__item--content .item__main {
	display: grid;
	grid-template-areas: "heading heading" "itemA   itemB  ";
}

/* line 79, sass/master.scss */
.grid__item--content .item__main .grid__item:nth-of-type(1) {
	grid-area: heading;
}

/* line 82, sass/master.scss */
.grid__item--content .item__main .grid__item:nth-of-type(2) {
	grid-area: itemA;
}

/* line 85, sass/master.scss */
.grid__item--content .item__main .grid__item:nth-of-type(3) {
	grid-area: itemB;
}

/* line 90, sass/master.scss */
.grid__item--footer {
	grid-area: footer;
}

/* line 93, sass/master.scss */
.grid__item {
	display: grid;
	grid-template-columns: 30px 1fr 30px;
	grid-template-rows: 30px 1fr 30px;
	grid-template-areas: ". t    ." "l main r" ". b    .";
	position: relative;
}

/* line 103, sass/master.scss */
.item__main {
	grid-area: main;
	background-color: #d18a6380;
	border: 2px solid #d18a6380;
	color: #333;
	font-weight: bold;
}

/* line 111, sass/master.scss */
.item__arrow.arrow--dt {
	grid-area: t;
}

/* line 112, sass/master.scss */
.item__arrow.arrow--dr {
	grid-area: r;
}

/* line 113, sass/master.scss */
.item__arrow.arrow--db {
	grid-area: b;
}

/* line 114, sass/master.scss */
.item__arrow.arrow--dl {
	grid-area: l;
}
